* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    height: 12vh;
    z-index: 1000;
}

header img {
    height: auto;
    max-width: 80px;
    margin: 30px 50px;
}

header > nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-right: 40px;
}

.navbar li {
    padding: 0px 12px;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar li:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}

.navbar button {
    background-color:rgb(0, 119, 190);
    color: white;
    font-family: 'Quicksand', Arial;
    font-weight: 500;
    font-size: medium;
    padding: 10px 25px;
    margin-top: 0;
    border-radius: 25px;
}

.hero {
    background-image: url(../assets/images/hero-background.jpg);
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.bdd-foundations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 120vh;
    background-color: #F5F5F5;
}

.bdd-foundations-section h1 {
    margin: 50px 0px;
}

.foundations-container {
    display: flex;
    gap: 30px;
    height: inherit;
    justify-content: center;
    align-content:space-evenly;
    margin: 0px 20px;
}

.foundations-container p {
    size: 50px;
}

.foundation1, .foundation2, .foundation3, .foundation4, .foundation5 {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px 30px;
    row-gap: 20px;
    width: 20%;
    height: 90%;
    background-color: white;
    align-content: start;
    margin-bottom: 30px;
}

.foundation1:hover {
    background-color: #DCE8EF;
    transition-duration: 0.3s;
}

.foundation2:hover {
    background-color: #DCEBEC;
    transition-duration: 0.3s;
}

.foundation3:hover {
    background-color: #DCE9E1;
    transition-duration: 0.3s;
}

.foundation4:hover {
    background-color: #ECEFDC;
    transition-duration: 0.3s;
}

.foundation5:hover {
    background-color: #F6E2E7;
    transition-duration: 0.3s;
}

.img {
    width: 80%;
    height: 25%;
    align-self: center;
}

.vision-section {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 60vh;
    justify-content:space-evenly;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    background-image: url(../assets/images/Shared-Space-at-BDD.png);
    margin-bottom: 50px;
}

iframe {
    width: 40%;
    height: 60%;
}
/*
.community-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 200vh;
    text-align: center;
}

.community-img-container {
    overflow: hidden;
    float: left;
}

.community-img-container img {
    max-height:350px;
    float: left;
}

.community-service-container {
    display: flex;
    flex-direction: row;
} */

.app-download-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.download-sentence {
    text-align: center;
}

footer {
    width: 100%;
    height: 50vh;
    background-color: #212121;
    color: white;
    overflow: hidden;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px;
}

.discover-bdd h4 {
    color: #646464;
    padding: 10px;
    display: flex;
}

footer ul {
    list-style-type: none;
    padding-left: 30px;
}

footer li {
    padding: 10px 0px;
}